body{
  font-size: 20px;
  background-color: #E6E6FA;
}

b{
  color: #E28B00;
}

img{
  border-radius: 40%;
}

li{
  font-size: 25px;
}

i{
  color: #4169E1;
}

q{
  color: #075200;
}
